<h5 class='account'>My Information</h5>



<div class='row'>
<div class='col s12'>
<label for="Email" class= 'alertLabel'>Email: amy@gmail.com<input type="text" name="Email" placeholder="Enter your new email"></input></label>

<label for="Phone" class= 'alertLabel'>Phone Number: 206-312-4782<input type="text" name="Phone" placeholder="Enter your new phone number"></input></label>

<label for="Address" class='alertLabel'>Address: 1436 4th Ave West Seattle, WA<input type="text" name="Address" placeholder="Enter your new address"></input></label>

<button class="btn submitChange right" type="submit">Submit Changes</button>
</div>
</div>

<h5 class='account'>My Alerts</h5>
<div class='row'>
<div id='col s12'>
  <p class='alertTag'>Alert: Healthcare </p>
  <a class="waves-effect waves-teal  right red-text delete">X</a>
</div>
</div>
<div class='row'>
<div id='col s12'>
  <p class='alertTag'>Alert: Land Use </p>
  <a class="waves-effect waves-teal  right red-text delete">X</a>
</div>
</div>
