<div class="row">
	<div class="col s12">
		<form class="login">
	    <h4>Log In</h4>
	    <label>Email</label>
	    <input label="email" type="text" name="email"></input>
	    <label>Password</label>
			<input label="password" type="password" name="password"></input>
			<a href="/" class="btn right">Log In</a>
		</form>
  </div>
</div>